/* 居中 */

.navbar {
    background-color: #333;
    color: white;
    height: 50px; /* 修正了高度的值，移除了多余的 '5' */
    display: flex;
    align-items: center; /* 确保子元素垂直居中 */
    padding: 0 20px; /* 为两侧提供一些内边距 */
}

.brandTitle {
    font-size: 1.5em;
    font-weight: bold;
}

.navList {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0; /* 移除默认的外边距 */
    flex-grow: 1; /* 使 nav-list 占据剩余空间 */
    justify-content: center; /* 使列表项居中 */
}

.navList li {
    margin: 0 10px;
}

.navList li p {
    color: #FFF;
    text-decoration: none;
    font-size: 18px;
    padding: 10px;
}

.navList li p:hover {
    /* background-color: #FFF; */
    background-color: hsl(73, 65%, 72%);
    color: #333;
    border-radius: 5px; /* 根据需要调整圆角的半径值 */
    padding: 10px; /* 调整内边距 */

}

.navList li p.activeLink {
    background-color: hsl(73, 65%, 72%);
    color: #000; /* 设置为黑色 */
    border-radius: 5px; /* 根据需要调整圆角的半径值 */
    padding: 10px; /* 调整内边距 */
  }